authentication.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://localhost:8000/authentication"
    name="AuthenticationService"
    targetNamespace="http://localhost:8000/authentication">
    
    <types>
        <xsd:schema targetNamespace="http://localhost:8000/authentication">
            <xsd:element name="Username" type="xsd:string"/>
            <xsd:element name="Password" type="xsd:string"/>
            <xsd:element name="AuthToken" type="xsd:string"/>
        </xsd:schema>
    </types>
    
    <message name="LoginRequest">
        <part name="username" element="tns:Username"/>
        <part name="password" element="tns:Password"/>
    </message>
    
    <message name="LoginResponse">
        <part name="authToken" element="tns:AuthToken"/>
    </message>
    
    <portType name="AuthenticationPortType">
        <operation name="login">
            <input message="tns:LoginRequest"/>
            <output message="tns:LoginResponse"/>
        </operation>
    </portType>
    
    <binding name="AuthenticationBinding" type="tns:AuthenticationPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="login">
            <soap:operation soapAction="http://localhost:8000/authentication/login"/>
            <input>
                <soap:body use="encoded" namespace="http://localhost:8000/authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://localhost:8000/authentication" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    
    <service name="AuthenticationService">
        <port name="AuthenticationPort" binding="tns:AuthenticationBinding">
            <soap:address location="http://localhost:8000/authentication"/>
        </port>
    </service>
    
</definitions>
